<div class="container">
  <br>
  <button mat-raised-button *ngIf="admin" (click)="PostDialog()">Create Post</button>
  <hr *ngIf="admin">
  <div class="card-columns">
    <div class="card" *ngFor="let item of items | async | orderBy:'date':true">
      <div (click)="GetPost(item.id)" class="pointer">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <mat-card-footer><small>{{item.date | date}}</small></mat-card-footer>
          <div *ngIf="admin">
            <button mat-button (click)="PostDialog(item)">edit</button>
            <button mat-button (click)="DeletePost(item.id)">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>