.mat-dialog-content{
    max-height: 100vh;
    overflow: initial;
}
.mat-input-wrapper{
    width:100% !important;
  }

  .mat-form-field
  {
      width: 100%;
  }

  .cdk-overlay-pane {
    max-width: 100%;
 }