html{
  margin-bottom: 55px;
}

@media (min-width: 768px) {
.navbar-nav>li>a {
  background-color:#FFFFFF;
}
.navbar-brand{
background-color:#FFFFFF;
}
}
.undecorated-link:hover {
  text-decoration: none;
}
.footme
{
  margin-bottom:70px;
}
   .ta-editor
   {
    height:auto!important;
   }
  .ta-hidden-input
  {
    display:none;
  }
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.fa-stack {font-family:"Montserrat","Helvetica Neue",Helvetica,Arial, sans-serif;}
.comment-indicator{text-align:center; position:absolute; bottom: 0px; right:0px; }
.fa-fill{color:#5bc0de; font-weight:500;}
.fa-blank{color:#FFFFFF; font-weight: 500;}
